#main{
    display: flex;
    gap: 25px;
}

#table{
    width: 700px;

}

#bars{
    width: 600px;
    /* max-height: 600px; */
    background-color: white;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    max-height: 1200px;
    padding: 5px;
    height: 960px;
    border-radius: 5px;
}

#bars canvas{
    width: 600px !important;
    
}


#donutes{
    background-color: white;
    /* width: 800px; */
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    max-height: 1200px;
    padding: 5px;
}

#donutes canvas{
    width: 200px;
}


