/* LoginPage.css */
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #040810 !important;
    color: #fff;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
  }
  
  .password-input {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    /* background-color: #545a6b !important; */
    /* color: #ffffff !important; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #btne{
    background-color: #545a6b !important;
    color: #ffffff !important;
  }
  
  button:disabled {
    background-color: #777;
  }
  