.settings-window {
  width: 800px;
  height: 500px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1000;
}

.settings-window.fullscreen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: none;
}

.settings-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #444;
  padding: 10px;
  cursor: move;
}

.mac-buttons {
  display: flex;
  gap: 8px;
}

.mac-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.mac-btn.red {
  background-color: #ff5f56;
}

.mac-btn.yellow {
  background-color: #ffbd2e;
}

.mac-btn.green {
  background-color: #27c93f;
}

.settings-body {
  display: flex;
  height: calc(100% - 50px);
}

.settings-sidebar {
  width: 150px;
  background-color: #222;
  padding: 10px;
  border-right: 1px solid #555;
  overflow-y: auto;
  height: 100%; /* Full height sidebar */
}

.settings-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settings-sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.settings-sidebar ul li.active,
.settings-sidebar ul li:hover {
  background-color: #555;
}

.settings-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.settings-content::-webkit-scrollbar {
  width: 8px;
}

.settings-content::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.settings-content::-webkit-scrollbar-track {
  background: transparent;
}

.settings-content h2 {
  margin-top: 0;
}

.settings-content p {
  margin: 5px 0;
  font-size: 16px;
}
