.dashboard {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* align-items: left; */
    height: 100%;
  }
  
  .card {
    border: 1px solid rgba(0, 0, 0, 0.21);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(190px);

  }

  .idjeidj{
    color: rgb(205, 205, 205);
  }
  
.chart-container h3{
  color: white !important;
}

.doughnut-chart h3{
  color: white !important;

}

#flw{
  width: 1350px;
  margin-left: -110px;
} 



@media (max-width: 1600px) {
  .dashboard {
    gap: 10px;
  }

  .card{
    max-width: 300px !important;
    /* background-color: red !important; */
    height: fit-content;
  }

  #flw{
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0px;
    margin-top: 230px;
  } 
}

@media (max-width: 768px) {
  .dashboard {
    gap: 15px;
  }

  .card {
    padding: 8px;
  }

}

